extends ../layout

block content
  div.logo-div
    img.logo-image(src='/public/image/logo.png')
    form#oauthForm(action='/oauth/authorize', method='post')
      .form-group
        label(for='oauthInputId') 아이디
        input#oauthInputId.form-control(type='text', name='id', placeholder='아이디를 입력하세요' autocomplete='id')
      .form-group
        label(for='oauthInputPassword') 패스워드
        input#oauthInputPassword.form-control(type='password', name='password', placeholder='암호', autocomplete='current-password')
      input(type='hidden', name='client_id', value=client_id)
      input(type='hidden', name='redirect_uri', value=redirect_uri)
      input(type='hidden', name='state', value=state)
      input(type='hidden', name='scope', value=scope)
      input(type='hidden', name='response_type', value=response_type)

      div.login-button-div
        button#oauthLoginButton.btn.btn-default.oauthLogin-button(type='submit') 로그인
